@import "tailwindcss";
@import "nprogress/nprogress.css";

:root {
  --primary: #416dd2;
  --primary-light: #d9d9d9;

  --secondary: #d6dff5;
  --secondary-light: #f9f9fb;

  --dark: #102044;

  --cst-neutral-1: #e6e6e6;
  --cst-neutral-2: #b3b3b3;
  --cst-neutral-3: #808080;
  --cst-neutral-4: #4d4d4d;
  --cst-neutral-5: #1a1a1a;

  /* Symantics */
  --error: #416dd2;
  --success: #ccf6c6;
  --warning: #f1ee9d;
  --info: #ced9f3;
}

@theme inline {
  --color-primary: var(--primary);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);

  --color-dark: var(--dark);

  --color-cst-neutral-1: var(--cst-neutral-1);
  --color-cst-neutral-2: var(--cst-neutral-2);
  --color-cst-neutral-3: var(--cst-neutral-3);
  --color-cst-neutral-4: var(--cst-neutral-4);
  --color-cst-neutral-5: var(--cst-neutral-5);

  --color-error: var(--error);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-info: var(--info);

  /* Breakpoints */
  --breakpoint-laptop: 1024px;

  /* Font */
  --font-dm-sans: var(--font-dm-sans);
  --font-oxygen: var(--font-oxygen);
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  background-color: var(--dark);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#nprogress .bar {
  background: white;
  height: 3px;
}
